<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.feichhorn.booltr.booltr" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BoolTR"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FrontendInput"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Credits"
            android:label="Credits"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >>
        </activity>
        <activity
            android:name=".LastInputs"
            android:label="Letzte Eingaben"
            android:theme="@style/AppTheme.CustomTheme"
            android:screenOrientation="portrait" >>
        </activity>

    </application>

</manifest>